@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  @font-face {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url('/assets/fonts/Righteous-Regular.ttf')
  }
  
  html {
    @apply text-dft-white;
    font-family: 'Righteous', system-ui, sans-serif;
  }

  /* .docs-story is Storybook class */
  .appBg, .docs-story {
    @apply bg-dft-grey;
  }
}

@layer components {
  .dft-list-layout {
  @apply flex flex-col gap-6 mx-auto;
  }
}
@layer utilities {
  .dft-prose-link {
    @apply border-b border-dft-primary;
  }
}
