@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  @font-face {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url('/assets/fonts/Righteous-Regular.ttf')
  }

  html {
    font-family: 'Righteous', system-ui, sans-serif;
  }
}
