@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  @font-face {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url('/assets/fonts/Righteous-Regular.ttf')
  }
  
  html {
    @apply text-dft-white;
    font-family: 'Righteous', system-ui, sans-serif;
  }

  /* .docs-story is Storybook class */
  .appBg, .docs-story {
    @apply bg-dft-grey;
  }
}

@layer utilities {
  .dft-border {
    @apply rounded-[20px] border-4;
    @apply border-dft-primary;
  }
}
